CUOPT_API_URL=https://optimize.api.nvidia.com/v1/nvidia/cuopt
CUOPT_STATUS_API_URL=https://api.nvcf.nvidia.com/v2/nvcf/pexec/status
CUOPT_API_KEY=
OSRM_BASE_URL=https://router.project-osrm.org
PORT=8001
ROUTING_PROVIDER=cuopt-osrm
